{% extends 'base.html' %}
{% block navbar %}
    {% load bootstrap5 %}
    {% bootstrap_javascript %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid" style="margin-left: 2%">
    <a class="navbar-brand" href="{% url 'fakecsv:main' %}">FakeCSV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'fakecsv:main' %}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'fakecsv:main' %}">Edit schemas</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'fakecsv:create' %}">Create schema</a>
          </li>
      </ul>
      <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </ul>
                {% else %}
                    <li class="nav-item">
                        <a class="dropdown-item" href="{% url 'login' %}?next={% url 'fakecsv:main' %}">Log in</a>
                    </li>
                    </ul>
                {% endif %}

    </div>
  </div>
</nav>
{% endblock %}